<html>
<head>
  <title>DWD Processing & JSON</title>
  <link rel='stylesheet' href='/css/bootstrap.min.css'>
  
</head>
<body>
    <div class="container">
    <%- body %>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="http://twitter.github.com/hogan.js/builds/2.0.0/hogan-2.0.0.js"></script>
    <script src="/js/templates.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>